@charset "utf-8";
/* CSS Document */

a{
	target:new;
	target:front;	
}#container3 body {
    margin: 0;

}

#container3 ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-left: 0px;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 50%;
    overflow: hidden;
}

#container3 li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#container3 li a.active {
    background-color: #4CAF50;
    color: white;
}

#container3 li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#container2 ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #333;
}

#container2 li {
    float: left;
}

#container2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#container2 li a:hover:not(.active) {
    background-color: #111;
}

#container2 .active {
    background-color: #4CAF50;
}
#header h1{
  padding-top: 100px;
  padding-left: 10%;
}